.about-container {
    padding: 4rem 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Arial', sans-serif;
  }
  
  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
  }
  
  .about-image-section {
    position: relative;
    width: 100%;
    margin-top: 120px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .about-image {
    width: 80%;
    height: auto;
    border-radius: 20px;
  }
  
  .play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .play-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #6a5af9;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .play-button:hover {
    transform: scale(1.1);
  }
  
  .about-text-section h4 {
    font-size: 1.8rem;
    color: #6a5af9;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  
  .about-text-section h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: white;
    line-height: 1.2;
  }
  
  .about-text-section h2 span {
    color: #6a5af9;
  }
  
  .about-text-section p {
    font-size: 1.1rem;
    color: #cccccc;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .download-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background: #6a5af9;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .download-button:hover {
    background: #5541e6;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about-content {
      grid-template-columns: 1fr;
      text-align: center;
    }
    .about-text-section h2 {
      font-size: 2rem;
    }
  
    .download-button {
      width: 90%;
    }
    .about-text-section p {
      font-size: 0.96rem;
      color: #cccccc;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }


  }
  
