.testimonials {
    text-align: center;
    padding: 50px 20px;

    color: #fff;
  }
  
  .testimonials h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .testimonials p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #ccc;
  }
  
  .testimonials-container {
    display: flex;
    justify-content: center;

    gap: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    flex-wrap: wrap;
  }
  
  .testimonial {
    width: 100%;
    align-self: flex-start;
    max-width: 300px;
    font-weight: 600;
    padding: 20px;
    background: #291c4a;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .quote-icon {
    font-size: 40px;
    color: #f39c12;
    margin-bottom: 10px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-info h4 {
    margin: 0;
    font-size: 18px;
  }
  
  .user-info span {
    color: #aaa;
    font-size: 14px;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #555;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .pagination .dot.active {
    background: #f39c12;
  }
  
  @media (max-width: 768px) {
    .testimonials-container {
      flex-direction: column;
     justify-content: center;
     
    }
    .testimonial {
        
        align-self: center;
     
      }

  }
  

  .custom-audio-player {
    width: 100%;
    max-width: 300px;
    background: none;
    border-radius: 10px;
    padding: 5px;
    
}

/* Ensure media controls are properly displayed */
.custom-audio-player::-webkit-media-controls-panel {
    background-color: #a098ac;
    border-radius: 10px;
}

/* Fix Play Button Visibility */
.custom-audio-player::-webkit-media-controls-play-button,
.custom-audio-player::-webkit-media-controls-pause-button {
    filter: none !important; /* Remove invert */
    opacity: 1 !important; /* Ensure visibility */
}

/* Volume slider styling */
.custom-audio-player::-webkit-media-controls-volume-slider {
    background: #ccc;
    border-radius: 5px;
}

/* Time Display */
.custom-audio-player::-webkit-media-controls-current-time-display,
.custom-audio-player::-webkit-media-controls-time-remaining-display {
    color: #333;
    font-size: 14px;
}

/* Make sure controls are visible on all browsers */
.custom-audio-player::-webkit-media-controls {
    display: flex;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .custom-audio-player {
        max-width: 250px;
    }
}

  
